<div>
  <h1>Peer Me</h1>
  <p>My ID:</p>
  <h3>{{ peerId$ | async }}</h3>

  <div>
    <label for="connectTo">Connect to: </label>
    <input #connectToInput type="text" id="connectTo" name="name" placeholder="ID"/>
    <button (click)="connectTo(connectToInput.value)">Connect</button>
  </div>

  <div *ngIf="peers$ | async; let peers">
    <select #peerSelect (change)="onChange($event)">
      <option>{{ 'No connection...' }}</option>
      <option *ngFor="let p of peers">{{p}}</option>
    </select>
    <input #messageInput placeholder="message..."/>
    <button (click)="messageTo(peerSelect.value, messageInput.value)">Send</button>
  </div>

  <div *ngIf="messages$ | async; let messages">
    <ul>
      <li *ngFor="let m of messages">
        <span class="incoming" [class.owner]="m.owner">{{ m.owner ? '▲' : '▼' }}</span>
        <span class="message">{{ m.message }}</span><span
        class="sender">{{ m.sender }}</span><span class="date">{{ m.timestamp | date:'medium'}}</span>
      </li>
    </ul>
  </div>
</div>
